:root {
    --primary-brand-color: MidnightBlue;
    --seconday-brand-color: LightSkyBlue;
    --primary-brand-font: Cinzel;
}

* {
    box-sizing: border border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Helvetica;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-image: url('../imgs/currency-conversion.jpg');
    background-size: cover;
    background-position: center;
}

section {
    display: flex;
    flex-direction: column;
    background: white;
    height: 500px;
    width: 600px;
    border: 1px solid white;
    box-shadow: 5px 10px 18px darkgray;
}

section > div {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    width: 100%
}

section div:last-child {
    align-self: center;
}

input, select {
    margin-top: 20px;
}

#from {
    margin-top: 50px;
}

#to {
    margin-top: 9px;
    padding-left: 15px;
}

#historical {
    display: flex;
    margin-top: 125px;
    border: 2px solid black;
    height: 200px;
    width: 250px;
}

header, footer {
    display: flex;
    align-items: center;
    height: 65px;
    width: 100%;
    color: var(--seconday-brand-color);
    background-color: var(--primary-brand-color);
}

header {
    font-family: var(--primary-brand-font);
    padding-left: 15px;
}

footer {
    justify-content: center;
}
